<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myTopNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/userlist"> Users</a></li>
        <li><a href="/user"> Add User</a></li>
        <li><a href="/userindex"> User Index</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        <li><a href="/profile"><span class="glyphicon glyphicon-log-in"></span> My Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
